language: python
branches:
  only:
    - master
    - desarrollo

sudo: required

services:
- docker

env:
  # You may want to update this to whatever the latest version is, or keep it
  # the same as your local machines. However, I have only tested it with 1.8.0+.
  # There should be a time in the future when this is not necessary - it is
  # explained in more detail below.
  DOCKER_COMPOSE_VERSION: 1.14.0

before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - docker network create seguimiento-academico
  - docker-compose up -d

install:
  - pip install codecov

script:
  - token=3b3047b4-1a46-4cf4-abfd-e98aeb870d35
  - ci_env="bash <(curl -s https://codecov.io/env)"
  - ci_post_cov="bash <(curl -s https://codecov.io/bash) -t $token"
  - docker network create seguimiento-academico
  - docker exec -it seguimiento-academico-ds bash -c "cd source && $ci_env && coverage run app.py tests && $ci_post_cov"

after_success:
  - codecov

cache:
  - pip
